{{>navbar}}
<div class="row pt-4 pl-4">
    <div class="panel col-md-2">
        {{#if user}}
            <table class="table" id="txtAlignCenter">
                <thead>
                <tr>
                    <th scope="col">My Lists</th>
                    <th scope="col">Add to List</th>
                </tr>
                </thead>
                <tbody>
                {{#each lists}}
                    <tr>
                        <td><a href="/users/{{../user.username}}/lists/{{id}}">{{name}}</a></td>
                        <td>
                            {{#checkIfExists items ../movie.id}}
                                {{#if exists}}
                                   <img id = "checkmark" src="/images/checkmark.png">
                                {{else}}
                                    <form method="POST" action="/users/{{../../user.username}}/lists/{{../id}}">
                                        <input class="addToList" type="submit" value="+">
                                        <input type="hidden" name="movieID" value="{{../../movie.id}}">
                                        <input type="hidden" name="poster" value="{{../../movie.poster}}">
                                        <input type="hidden" name="rating" value="{{../../movie.voteAverage}}">
                                    </form>
                                {{/if}}
                            {{/checkIfExists}}
                        </td>
                {{/each}}
                </tr>
                </tbody>
            </table>
        {{/if}}
    </div>
    <div class="col-xs-9">
        <div class="container">
            <div class="row">
                <div id="divColmax-width" class="col">
                    {{#if movie.poster}}
                        <img id="imgWidth" src='http://image.tmdb.org/t/p/w185/{{movie.poster}}'/>
                    {{else}}
                        <img id="imgWidth" src='/images/defaultPoster.jpg'/>
                    {{/if}}
                </div>
                <div class="col">
                    <div class="row">
                        <div id="movieTitlepadding" class="col">
                            <p id="pfont-size" class="lead"><strong>{{movie.originalTitle}}</strong> ({{movie.releaseDate}})</p>
                        </div>
                        <div id="divColmax-width" class="col">
                            <img id="starWidth" src='/images/ratingStar.jpg'/>
                            <p>{{movie.voteAverage}}<sub>/10</sub></p>
                        </div>
                    </div>
                    <div class="row">
                        <p class="lead">{{movie.genres}}</p>
                    </div>
                    <div class="row">
                        <p><em>{{movie.overview}}</em></p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="container mt-5 pt-5">
    <div class="row">
        {{#each movie.directors}}
            <div class="col">
                <div id="divCard" class="card mb-2 text-center">
                    {{#if portrait}}
                        <img class="card-img-top" src='http://image.tmdb.org/t/p/w185/{{portrait}}'/>
                    {{else}}
                        <img class="card-img-top"
                             src='/images/defaultAvatar.jpg'>
                    {{/if }}
                    <div class="card-body">
                        <h4 class="card-title">{{name}}</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Director</li>
                        </ul>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        <p id="pCast" class="lead"><strong>Cast:</strong></p>
    </div>
    <div class="row">
        {{#each movie.cast}}
            <div class="col-3">
                <div id="divCard" class="card mb-2 text-center">
                    <a href="/actors/{{id}}">
                        {{#if portrait}}
                            <img class="card-img-top" src='http://image.tmdb.org/t/p/w185/{{portrait}}'>
                        {{else}}
                            <img class="card-img-top"
                                 src='/images/defaultAvatar.jpg'>
                        {{/if}}
                    </a>
                    <div class="card-body">
                        <a href="/actors/{{id}}">
                            <h4 class="card-title">{{name}}</h4>
                        </a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Character: {{character}}</li>
                    </ul>
                </div>
            </div>
        {{/each}}
    </div>
</div>