{{>navbar}}

<div id="userjbtron" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
        <h1 id="themeTitle" class="display-3"><span class="fa fa-user-circle"></span>{{user.fullName}} <span id="fontSize">({{user.username}})</span></h1>
        <p id="themeColor" class="lead">{{user.email}}</p>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <h1 id="paddingBottom">My Lists:</h1>
        <a id="buttonAddList" class="btn btn-outline-dark" href="/users/{{user.username}}/lists/new">Create List</a>
    </div>
    <div class="row">
        {{#each user.lists}}
            <div class="col-3">
                <div class="card bg-dark">
                    <div id="txtAlignCenter" class="card-body">
                        <h3><a class="card-title" href="/users/{{../user.username}}/lists/{{id}}"><span id="themeColor">{{name}}</span></a></h3>
                        <h5 class="card-subtitle mb-2 text-muted" href="/users/{{../user.username}}/lists/{{id}}">{{items.length}} items</h5>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>