{{> base }}
{{>navBar}}
{{#if results}}
    <div class="container pt-5">
        <div class="row">
            {{#each results}}
                <div class="col-3">
                    <div id="divCard" class="card mb-2 text-center">
                        <a href="/movies/{{id}}">
                            {{#if poster}}
                                <img class="card-img-top" src='http://image.tmdb.org/t/p/w185/{{poster}}'>
                            {{else}}
                                <img class="card-img-top" src='.././public/img/defaultPoster.jpg'>
                            {{/if}}
                        </a>
                        <div class="card-body">
                            <a href="/movies/{{id}}">
                                <h4 class="card-title">{{title}}</h4>
                            </a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Vote Average: {{voteAverage}}</li>
                            <li class="list-group-item">Release Date: {{releaseDate}}</li>
                        </ul>
                    </div>
                </div>
            {{/each}}
        </div>
        {{#paginate query currentPage totalPages 3 }}
            <div class="pagination">
                {{#unless isFirstPage}}
                    <a href="/search?name={{name}}&page=1">&lt;</a>
                {{/unless}}
                {{#each pages}}
                    {{#if isCurrent}}
                        [<a href="/search?name={{../name}}&page={{page}}">{{page}}</a>]
                    {{else}}
                        <a href="/search?name={{../name}}&page={{page}}">{{page}}</a>
                    {{/if}}
                {{/each}}

                {{#unless isLastPage}}
                    <a href="/search?name={{name}}&page={{lastPage}}">&gt;</a>
                {{/unless}}
            </div>
        {{/paginate}}
    </div>
{{else}}
    <p>No results found</p>
{{/if}}
{{> footer }}