{{>navbar}}

<div id="userjbtron" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
        <h1 id="themeTitle" class="display-3"><span class="fa fa-user-circle"></span>{{user.fullName}} <span id="fontSize">({{user.username}})</span></h1>
        <p id="themeColor" class="lead">{{user.email}}</p>
    </div>
</div>

    <div class="container pt-5">
    <div id="listsHeader" class="row">
        <h2>My Lists:</h2>
        <a id="buttonAddList" class="btn btn-outline-dark" href="/users/{{user.username}}/lists/new">Create List</a>
    </div>
    <div id="mainDiv" class="row">
        {{#each lists}}
            <div id="list-{{id}}" class="col-lg-3">
                <div id="listItem" class="card bg-dark">
                    <div class="userListsOfMovies" id="txtAlignCenter">
                        <h3><a class="card-title" href="/users/{{../user.username}}/lists/{{id}}"><span id="themeColor">{{name}}</span></a></h3>
                        <h5 class="card-subtitle mb-2 text-muted" href="/users/{{../user.username}}/lists/{{id}}">{{items.length}} items</h5>
                        <input class="listId" type="hidden" name="listID" value="{{id}}">
                        <div>
                            <button class="editListBtn"><span class="fa fa-pencil-square-o"></span></button>
                            <button class="removeListBtn" onClick='removeList({{id}}, {{../user.username}})'><span class="fa fa-trash-o"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>