{{>navbar}}

<div id="userjbtron" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
        <h1 id="themeTitle" class="display-3"><span class="fa fa-user-circle"></span>{{user.username}}'s Lists</h1>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        {{#each lists}}
            <div class="col-lg-3">
                <div id="listItem" class="card bg-dark">
                    <div class="userListsOfMovies" id="txtAlignCenter">
                        <h3><a class="card-title" href="/users/{{../user.username}}/lists/{{id}}"><span id="themeColor">{{name}}</span></a></h3>
                        <h5 class="card-subtitle mb-2 text-muted" href="/users/{{../user.username}}/lists/{{id}}">{{items.length}} items</h5>
                        <input class="renameList" type="submit" value="Rename List">
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        <div id="crtLsts">
            <a class="btn btn-outline-dark" href="/users/{{user.username}}/lists/new">Create List</a>
        </div>
    </div>
</div>